/kafka-first-project/kafka-basics/target
/kafka-first-project/.idea
/kafka-first-project/.idea/.gitignore
/kafka-first-project/.idea/codeStyles/Project.xml
/kafka-first-project/.idea/misc.xml
/.idea/
spring-kafka-wikimedia/.mvn/wrapper/maven-wrapper.jar
*.jar
spring-kafka-wikimedia/.mvn/wrapper/maven-wrapper.jar
spring-kafka-wikimedia/mvnw.cmd
spring-kafka-wikimedia/mvnw
spring-kafka-wikimedia/.mvn/wrapper/maven-wrapper.jar
spring-kafka-wikimedia/.mvn/wrapper/maven-wrapper.properties
*.jar
